# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/key.properties
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
*.xcworkspace

# macOS
.DS_Store

# Web
web/

# Coverage
coverage/
